{{#extends "base"}}
  {{#block "content"}}
    <h3>
      Your Shopping Cart
      <a href="/checkout/" class="btn btn-success">Checkout</a>
    </h3>
    <div>
      {{#each cartItems}}
        <ul class="list-group">
          <li class="list-group-item">
            <h5>{{this.service.name}}</h5>
            <ul>
              <li>Cost per hour: {{this.service.cost_per_hour}}</li>
              <li>Description: {{this.service.description}}</li>
            </ul>
            <form action="/cart/{{this.service.id}}/update" method="POST">
              <h6>Requested Hours: </h6>
                  <input type="text" name="newNumberOfHours" id="" value="{{this.requested_hours}}"> 
                  <input type="submit" value="change" class="btn btn-primary btn-sm"/>
                  <a href="/cart/{{this.service.id}}/remove" class="btn btn-danger btn-sm">x</a>
                  <br>
                  <small>Minimum required: {{this.service.min_hours}} hrs</small>
                  <input type="hidden" name="_csrf" value="{{../csrfToken}}"/>
            </form>
        
          </li>
        </ul>
      {{/each}}
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <a href="/checkout/" class="btn btn-success btn-lg my-3">Checkout</a>
    </div>
  {{/block}}
{{/extends}}