{{#extends "base"}}
  {{#block "content"}}

    <div class="container" style="border: 0.5em;">

      <form  method="GET">
          {{{searchForm}}}
          <input type="submit" class="btn btn-primary mt-3" value="Search" />
        </form>

      {{#each services}}
        <div class="row row-cols-2">
          <div class="col">
            <p>insert image</p>
          </div>
          <div class="col">
            <div class="row">
              <h5>Name: {{this.name}}</h5>
              <small>ID: {{this.id}}</small>
              <br />
              <small>Category: {{this.category.name}}</small>
              <hr />
              <small>Desc: {{this.description}}</small>
              <small>Rating: {{this.rating}}</small>
              <hr />
              <h5>Cost: Php {{this.cost_per_hour}}.00</h5>
              <hr />
              <small>Req. hrs (min): {{this.min_hours}}</small>
              <hr />
              <small>Secification Options: {{this.services.service_specs_id}}</small>
              <hr />
              <small>Date of Posting: {{this.date_of_posting}}</small>
              <hr />
              <div class="col">
                <a href="/cart/{{this.id}}/add" type="submit" class="btn btn-success"> Add to Cart </a>
              </div>
              <div class="col">
                <a href="/services/{{this.id}}/update" type="submit" class="btn btn-info"> Edit </a>
              </div>
              <div class="col">
                <a href="/services/{{this.id}}/update" type="submit" class="btn btn-danger"> Delete </a>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
      
    </div>

  {{/block}}
{{/extends}}