{{#extends "base"}}
  {{#block "content"}}

    <div class="container" style="border: 0.5em;">

      <form method="get">
        {{{searchForm}}}
        <input type="submit" class="btn btn-primary mt-3" value="Search" />
      </form>

      <div class="container">
        <a href="/services/create" class="btn btn-primary">Add a Service</a>
      </div>
      {{#each services}}
        <div class="row row-cols-2 my-5">
          <div class="col card">
            {{#if this.image_url}}
            <img src="{{this.image_url}}" alt="" class="img-fluid">
            {{/if}}
          </div>
          <div class="col card">
            <div class="row">
              <h5>Name: {{this.name}}</h5>
              <small>ID: {{this.id}}</small>
              <br />
              <small>Category: {{this.category.name}}</small>
              <hr />
              <small>Desc: {{this.description}}</small>
              <small>Rating: {{this.rating}}</small>
              <hr />
              <h5>Cost: Php {{this.cost_per_hour}}.00</h5>
              <hr />
              <small>Req. hrs (min): {{this.min_hours}}</small>
              <hr />
              <small>Date of Posting: {{this.date_of_posting}}</small>
              <hr />
              <div class="col">
                <a
                  href="/cart/{{this.id}}/add"
                  type="submit"
                  class="btn btn-success"
                > Add to Cart </a>
              </div>
              <div class="col">
                <a
                  href="/services/{{this.id}}/update"
                  type="submit"
                  class="btn btn-info"
                > Edit </a>
              </div>
              <div class="col">
                <a
                  href="/services/{{this.id}}/delete"
                  type="submit"
                  class="btn btn-danger"
                > Delete </a>
              </div>
            </div>
          </div>
        </div>
      {{/each}}

    </div>

  {{/block}}
{{/extends}}