{{#extends "base"}}
  {{#block "content"}}

    <div class="container" style="border: 0.5em;">

      <form  method="GET">
          {{{searchForm}}}
          <input type="submit" class="btn btn-primary mt-3" value="Search" />
        </form>

      {{#each services}}
        <div class="row row-cols-2">
          <div class="col">
            <p>insert image</p>
          </div>
          <div class="col">
            <div class="row">
              <h5>Name: </h5> <h5>{{this.name}}</h5>
              <small>
                ID: <small>{{this.id}}</small>
                <br />
                Category: <small>{{this.services.category_id}}</small>
              </small>
              <hr />
              <small>Desc: </small>  <small>{{this.description}}</small>
              <small>Rating:</small> <small>{{this.rating}}</small>
              <hr />
              <h5>Cost:</h5> <h5>{{this.cost_per_hour}}</h5>
              <hr />
              <small>Req. hrs (min):</small> <small>{{this.min_hours}}</small>
              <hr />
              <small>Secification Options:</small> <small>{{this.services.service_specs_id}}</small>
              <hr />
              <small>Date of Posting:</small> <small>{{this.date_of_posting}}</small>
              <hr />
              <div class="col">
                <a href="/cart/{{this.id}}/add" type="submit" class="btn btn-success"> Add to Cart </a>
              </div>
              <div class="col">
                <a href="/services/{{this.id}}/update" type="submit" class="btn btn-info"> Edit </a>
              </div>
              <div class="col">
                <a href="/services/{{this.id}}/update" type="submit" class="btn btn-danger"> Delete </a>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>

  {{/block}}
{{/extends}}